#myCarousel.carousel.slide
  %ol.carousel-indicators
    %li.active{"data-target" => "#myCarousel", "data-slide-to" => "0" }
    %li{"data-target" => "#myCarousel", "data-slide-to" => "1" }
    %li{"data-target" => "#myCarousel", "data-slide-to" => "2" }
    %li{"data-target" => "#myCarousel", "data-slide-to" => "3" }
    %li{"data-target" => "#myCarousel", "data-slide-to" => "4" }
    %li{"data-target" => "#myCarousel", "data-slide-to" => "5" }


  .carousel-inner
    .active.item
      %img{:alt => "", :src => '/assets/mining.jpg' }
      .carousel-caption 
        %h4 
          GRAIN
        %p
          Geologie Recherches Applications et Industries,
          votre partenaire dans le Copperbelt du Katanga, RD Congo
    .item
      %img{:alt => "", :src => '/assets/echantillon-kanenge.jpg' }
      .carousel-caption 
        %h4 
          Kanunka
        %p
          Géologue GRAIN échantillonnant une roche
    .item
      %img{:alt => "", :src => '/assets/tranchees-nguba-buzango.jpg' }
      .carousel-caption 
        %h4 
          Nguba
        %p
          Tranchées pour le compte de BAZANO
    .item
      %img{:alt => "", :src => '/assets/sondage-mabende.jpg' }
      .carousel-caption 
        %h4 
          Mabende
        %p
          Supervision des travaux de sondages pour BAZANO
    .item
      %img{:alt => "", :src => '/assets/puits.jpg' }
      .carousel-caption 
        %h4 
          Bosanga
        %p
          Puits de prospection
    .item
      %img{:alt => "", :src => '/assets/prospection-busanga-minalex.jpg' }
      .carousel-caption 
        %h4 
          Busanga
        %p
          Prospection pour le compte de Minalex

  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

