%h1.text-center
  <br>
  Contactez-nous aux addresses suivantes 

.row-fluid.hero-unit
  .span5

    %address
      %strong
        GRAIN SPRL<br> 
      1950, avenue Tshangalele 2<br>
      Likasi/Province du Katanga/R.D.CONGO <br>
      <a href="mailto:">grain_rdc@yahoo.fr</a>

    %address
      %strong
        Jules Kalema Okende <br>
      Gérant<br>
      <abbr title="Phone">P:</abbr>+243 81 407 2989<br>
      <a href="mailto:#">juleskalema@hotmail.com</a>

    %address
      %strong
        Dominique Sambwa<br>
      Consultant senior<br>
      <abbr title="Phone">P:</abbr>+243 81 405 0363i<br>
      <a href="mailto:">dsambwa@hotmail.com</a>

    %address
      %strong
        Alphonse Kaputo Kalubi<br>
      Consultant senior<br>
      <abbr title="Phone">P:</abbr>+243 99 850 9045<br>
      <a href="mailto:#">alkaputok@yahoo.fr</a>

  .span7
    %img.img-polaroid{:src => "/assets/echantillon-kanenge.jpg"}

