%h1.text-center
  %br
  = t('.title')

.row-fluid.hero-unit
  .span5

    %address
      %strong
        GRAIN SPRL<br> 
      1950, avenue Tshangalele 2<br>
      Likasi/Province du Katanga/R.D.CONGO <br>
      <a href="mailto:">info@grain-geo.com</a>

    %address
      %strong
        Jules Kalema Okende <br>
      Gérant<br>
      <abbr title="Phone">P:</abbr>+243 81 407 2989<br>
      <a href="mailto:#">juleskalema@grain-geo.com</a>

    %address
      %strong
        Dominique Sambwa<br>
      Consultant senior<br>
      <abbr title="Phone">P:</abbr>+243 81 405 0363<br>
      <a href="mailto:">dominiquesambwa@grain-geo.com</a>

    %address
      %strong
        Alphonse Kaputo Kalubi<br>
      Consultant senior<br>
      <abbr title="Phone">P:</abbr>+243 99 850 9045<br>
      <a href="mailto:#">alphonsekaputo@grain-geo.com</a>

  .span7
    %img.img-polaroid{:src => "/assets/echantillon-kanenge.jpg"}

