<h1>Home</h1>

<p> This page should have the following elements:</p>

- Grain logo on the top left-side 
- horizontal menu with 
  - who are we?
  - our services
  - our projects
  - our resources
  - contact pages
