.row-fluid.hero-unit
  .span8
    %h1
      Quels sont les travaux realisés et projects en cours?
    %p
      GRAIN a mené et continue depuis 2006 a presté avec succès les campagnes de
      prospection pour le GROUPE BAZANO, LEREXCOM, CHEMAF, etc.
      Par ailleurs, GRAIN est consultant en géologie pour plusieurs autres entreprises
      minières, notamment CDM, RUBAMIN , MINALEX , CAM Resources,
      etc. 

    %p 
      Nous avons un contrat de partenariat avec une société chinoise C.N.G.S pour les
      marchés do forage, pour la prospection en profondeur. 
      
  .span4
    %img.img-polaroid{:src => "/assets/puits.jpg"}

.row-fluid 
  .span4
    %h2
      Professionnalisme
    %p
      Pour la bonne réussite de ses campagnes de prospection, GRAIN privilégie
      une coopération de haut niveau entre son personnel et celui du Maître de
      l’Ouvrage.

  .span4
    %h2 
      Conduite des travaux

    %p
      Pour la bonne conduite des travaux sur le terrain, les géologues sont en
      permanence sur le chantier avec des visites régulières du chef de projet, et
      un campement adéquat est organisé pour répondre aux conditions de sécurité
      requise et à la restauration de l’équipe en vue de garantir un bon rendement
      dans le délai convenable. 

    %p
      Les assistants géologues sont recrutés parmi les meilleurs ex Gécamines, et
      les journaliers sont recrutés sur place en fonction du projet pour garder une
      intégration des populations environnantes.

  .span4
    %h2
      Rapport des travaux

    %p
      Pour chaque projet GRAIN présente des rapports mensuels réguliers et
      intermédiaires pour permettre au Maître de l’ouvrage de faire ses
      observations avant le rapport final, et d’autres communications régulières
      sont maintenus par téléphone, mails et fax.
