.row-fluid.hero-unit
  .span8
    %h1
      Quels sont nos atouts et nos moyens?
    %p
      %ul
        %li L'expertise reconnue sur l'échiquier national et international de nos geologues
        %li Une équipe logistique passionnée par le travail de terrain
        %li Des équipements adéquats 
        %li Des logiciels de pointe
      
  .span4
    %img.img-polaroid{:src => "/assets/echantillon-kanenge.jpg"}

.row-fluid 
  .span6
    %h2
      Personnel

    %p
      L’équipe GRAIN est composée d’un noyau des géologues seniors et juniors, et
      peut mobiliser d’autres experts qualifiés et expérimentés dans tous les
      domaines de la géologie, en fonction de chaque projet. 

    %p
      Ces personnes dont la plupart sont des anciens de la Gécamines ont une longue
      expérience possédant une très bonne connaissance de la géologie du KATANGA pour
      avoir œuvré durant plusieurs années dans la recherche géologique.  La moyenne a
      plus de  20 ans d’expérience dans les techniques de prospection géologique de
      la Province du Katanga en particulier, et celle de la R.D.CONGO en général. 

  .span6
    %h2
      Equipments
    %p
      GRAIN possède le matériel nécessaire à la prospection géologiques sur
      terrain, à savoir deux véhicules 4 x 4, GPS, marteaux de géologue, boussoles,
      et autres ; ainsi que les outils informatiques nécessaire à la réalisation
      des travaux de bureau, entre autre une banque de données géologiques,
      cartographiques à différentes échelles sur la Province du Katanga plus
      particulièrement, et sur l’étendue de la R.D.CONGO, et des logiciels de
      cartographie.
