.row-fluid.hero-unit
  .span8
    %h1
      Services et compétences
    %p
      Idéalement basé dans le Copperbelt du Katanga,
      GRAIN peut assurer la gestion globale de tout projet géologique et minier
      depuis les prospections préliminaires jusqu'à l'exécution d'un chantier.

    %p
      Outre le domaine de la Géologie, 
      GRAIN est en mesure de mener des études et des recherches 
      dans les domaines en rapport avec le sol et le sous-sol, notamment: 
      mines, topographie, sondages, environnement, hydrologie.

    %p
      Pour les sociétés désireuses d’obtenir des droits et avantages miniers en République Démocratique du Congo, 
      GRAIN pourra servir de mandataires auprès du ministère des mines et hydrocarbures via le cadastre minier.
      
  .span4
    %img.polaroid{:src => "/assets/tranchees-nguba-buzango.jpg"}

.row-fluid 
  .span6
    %h2
      Nos services
    %ul
      %li Exploration et la prospection géologique
      %li Études pétrographiques et minéralogiques
      %li Documentation géologique
      %li Cartographie géologique
      %li Élaboration et l’exécution des programmes de prospections géologiques
      %li Supervision des travaux de sondage.
      %li Évaluation de ressources et réserves minérales
      %li Études de pré-faisabilités et de faisabilité
      %li Consultance et conseils en géologie

  .span6 
    %h2 
      Nos compétences
    %ul                                
      %li  Opérations de sélectivité dans les exploitations minières 
      %li  Études d’aménagement environnemental 
      %li  Recherches d’eaux potable et industrielle 
      %li  Assistance dans les opérations topographiques 
      %li  Création et gestion des industries dans les domaines miniers, les sondages, la mécanique et l’agriculture


